.wrapper {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
  height: 3rem;
}

.navBar {
  font-size: small;
  background-color: #171717;
  padding: 15px;
  border-radius: 3rem;
}

.active {
  color: white;
  text-decoration: overline;
}

a {
  color: lightgray;
  padding: 1vw;
  font-size: 1em;
  text-decoration: none;
}

a:hover {
  color: white;
}

@media all and (max-width: 500px) {
  .wrapper {
    margin-bottom: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1;
  }

  .navBar {
    background-color: blueviolet;
  }
}
