.container {
  margin-top: 40px;
  margin-bottom: 40px;
  display: grid;
  /* background-color: brown; */
  height: auto;
  grid-template-columns: auto 10rem 6rem;
  grid-template-rows: 1.5rem 1.5rem 2.3rem 8rem 2.2rem;
  grid-template-areas:
    "coveri totalep score"
    "coveri duration score"
    "coveri timer timer"
    "coveri description description"
    "coveri genres genres";
  transition: box-shadow 0.4s;
  border-radius: 1rem;
}

.container:hover {
  box-shadow: 0 0 11px rgb(209, 77, 209);
  border-radius: 1rem;
}

#descontainer {
  overflow-y: auto;
}

#score_number {
  color: #d671d1;
  padding-top: 5px;
  padding-left: 6px;
  font-size: 1.3em;
  font-weight: 500;
  justify-content: center;
}

#score_thumb {
  padding-top: 10px;
}

#score {
  justify-content: center;
  display: flex;
  /* background-color: red; */
  background-color: #4e4d4d;
  grid-area: score;
  border-top-right-radius: 1rem;
}

#imgsize {
  height: 15.5rem;
  width: 11rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.title_container {
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom-left-radius: 0.9rem;
  padding: 8px;
}

.title {
  margin: 0;
  padding-bottom: 0;
  color: white;
  font-size: 0.9em;
}

.studio {
  margin: 0;
  color: pink;
  font-size: 0.7em;
}

#cover {
  grid-area: coveri;
  position: relative;
}

#totalep {
  padding: 5px;
  font-size: 0.8em;
  color: rgb(236, 103, 207);
  background-color: #4e4d4d;
  grid-area: totalep;
}

#duration {
  padding: 5px;
  font-size: 0.8em;
  color: rgb(233, 62, 210);
  /* background-color: palegreen; */
  background-color: #4e4d4d;
  grid-area: duration;
}

#timer {
  padding: 5px;
  padding-top: 7px;
  font-size: 1em;
  color: rgb(234, 0, 255);
  /* background-color: bisque; */
  background-color: #4e4d4d;
  grid-area: timer;
}

.description {
  padding: 5px;
  font-size: 0.9em;
  color: white;
  background-color: #4e4d4d;
  grid-area: description;
  overflow-y: auto;
}

.description {
  overflow: auto;
  transition: 2s all ease;
}

.description:hover {
  overflow: auto;
}

.description::-webkit-scrollbar {
  border-radius: 6px;
  height: 5px;
  width: 5px;
}

.description:hover::-webkit-scrollbar-thumb {
  background-color: #222222;
  border-radius: 3px;
  transition: background-color 3s;
}
.description::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 3px;
  border: 3px solid transparent;
}

.description::-webkit-scrollbar-track {
  margin-block: 0.8em;
}

.genres {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  /* background-color: crimson; */
  background-color: #4e4d4d;
  grid-area: genres;
  border-bottom-right-radius: 1rem;
}

.genres {
  overflow: auto;
  transition: 2s all ease;
}

.genres:hover {
  overflow: auto;
}

.genres::-webkit-scrollbar {
  border-radius: 6px;
  height: 5px;
  width: 5px;
}

.genres:hover::-webkit-scrollbar-thumb {
  background-color: #222222;
  border-radius: 3px;
  transition: background-color 3s;
}
.genres::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 3px;
  border: 3px solid transparent;
}

.genres::-webkit-scrollbar-track {
  margin-block: 0.8em;
}

/* media queries of cardview */

@media all and (max-width: 550px) {
  .container {
    margin-top: 0;
    margin-bottom: 40px;
    display: grid;
    /* background-color: brown; */
    height: auto;
    grid-template-columns: auto 7rem 4rem;
    grid-template-rows: 1.7rem 1.7rem 2rem 7.9rem 2.2rem;
    grid-template-areas:
      "coveri totalep score"
      "coveri duration score"
      "coveri timer timer"
      "coveri description description"
      "coveri genres genres";
    transition: box-shadow 0.4s;
    border-radius: 1rem;
  }

  #score_number {
    color: #d671d1;
    padding-top: 8px;
    padding-right: 8px;
    font-size: 1em;
    font-weight: 500;
    justify-content: center;
  }

  .description {
    padding: 5px;
    font-size: 0.75em;
    color: white;
    background-color: #4e4d4d;
    grid-area: description;
    overflow-y: auto;
  }

  #timer {
    padding: 5px;
    padding-top: 7px;
    font-size: 1em;
    color: white;
    /* background-color: bisque; */
    background-color: #4e4d4d;
    grid-area: timer;
  }
}
