.container {
  margin-top: 40px;
  display: grid;
  /* background-color: brown; */
  height: 18rem;
  grid-template-columns: auto 10rem 6rem;
  grid-template-rows: 1.5rem 1.5rem 1.8rem 8.5rem 2.2rem;
  grid-template-areas:
    "coveri totalep score"
    "coveri duration score"
    "coveri timer timer"
    "coveri description description"
    "coveri genres genres";
}

#descontainer {
  overflow-y: auto;
}

#score {
  background-color: red;
  grid-area: score;
  border-top-right-radius: 1rem;
}

#imgsize {
  height: 15.5rem;
  width: 11rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

#cover {
  grid-area: coveri;
}

#totalep {
  padding: 5px;
  font-size: 0.8em;
  color: white;
  background-color: #3d3d3d;
  grid-area: totalep;
}

#duration {
  padding:5px;
  font-size: 0.8em;
  color: white;
  /* background-color: palegreen; */
  background-color: #3d3d3d;
  grid-area: duration;
}

#timer {
  padding: 5px;
  padding-top: 7px;
  font-size: 1em;
  color: white;
  /* background-color: bisque; */
  background-color: #3d3d3d;
  grid-area: timer;
}

.description {
  padding: 5px;
  padding-top: 20px;
  font-size: 0.9em;
  /* background-color: coral; */
  color: white;
  background-color: #3d3d3d;
  grid-area: description;
  overflow-y: auto;
}

#genres {
  padding-left: 5px;
  /* background-color: crimson; */
  background-color: lime;
  grid-area: genres;
  border-bottom-right-radius: 1rem;
}

