.container {
  margin-top: 40px;
  display: grid;
  /* background-color: brown; */
  height: 18rem;
  grid-template-columns: auto 12rem 6rem;
  grid-template-rows: 1.5rem 1.5rem 1.5rem 8rem 3rem;
  grid-template-areas:
    "coveri totalep score"
    "coveri duration score"
    "coveri timer timer"
    "coveri description description"
    "coveri genres genres";
}

#descontainer{
  overflow-y: auto;
}

#score{
  background-color: red;
  grid-area: score;
  border-top-right-radius: 1rem;
}

#imgsize {
  height: 15.5rem;
  width: 11rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

#cover {
  grid-area: coveri;
}

#totalep {
  background-color: grey;
  grid-area: totalep;
}

#duration {
  /* background-color: palegreen; */
  background-color: grey;
  grid-area: duration;
}

#timer {
  /* background-color: bisque; */
  background-color: grey;
  grid-area: timer;
}

.description {
  /* background-color: coral; */
  background-color: grey;
  grid-area: description;
  overflow-y: auto;
}

#genres {
  /* background-color: crimson; */
  background-color: grey;
  grid-area: genres;
  border-bottom-right-radius: 1rem;
}
