.chip {
  display:inline-flex;
  flex-direction: row;
  background: linear-gradient(to right bottom, #e364e1, #d238dd);
  border: none;
  cursor: default;
  outline: none;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 12px;
  border-radius: 16px;
}

.chip_content {
  padding-left: 12px;
  padding-right: 12px;
}

