::-webkit-scrollbar {
  border-radius: 10px;
  height: 8px;
  width: 10px;
}

::-webkit-scrollbar-track {
  margin-block: 0.2em;
  border-radius: 12px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #222222;
  border-radius: 8px;
}

.scroll {
  overflow: hidden;
}

.scroll:hover {
  overflow: auto;
}

.scroll::-webkit-scrollbar {
  border-radius: 6px;
  height: 5px;
  width: 5px;
}

.scroll:hover::-webkit-scrollbar-thumb {
  background: #222222;
  border-radius: 3px;
}
.scroll::-webkit-scrollbar-track {
  margin-block: 0.8em;
}

.boxshadow {
  transition: box-shadow 0.4s;
  border-radius: 1rem;
}

.boxshadow:hover {
  box-shadow: 0 0 11px purple;
  border-radius: 1rem;
}
