::-webkit-scrollbar {
  border-radius: 4px;
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #222222;
  border-radius: 3px;
}

.scroll {
  overflow: hidden;
}

.scroll:hover {
  overflow: auto;
}

.scroll::-webkit-scrollbar {
  border-radius: 4px;
  height: 8px;
  width: 8px;
}
.scroll:hover::-webkit-scrollbar-thumb {
  background: #222222;
  border-radius: 3px;
}
