.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    height: 20vh;
    z-index: 1;
    background-color: #171717;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
  }