.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    height: 20vh;
    z-index: 1;
    background-image: url(/home/tahmid/Documents/Projects/aniview/src/components/Footer/RectLight.svg);
  }