.wrapper {
  background-color: #171717;
  display: flex;
  justify-content: center;
  height: 6rem;
  align-items: center;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.navBar {
  font-size: larger;
  padding: 15px;
  border-radius: 3rem;
}

ul {
  font-size: larger;
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.active {
  color: white;
  text-decoration: overline;
}

a {
  color: lightgray;
  text-decoration: none;
}

a:hover {
  color: white;
}

.text a {
  font-size: 1.5rem;
}


@media all and (max-width: 500px){
    .wrapper {
    margin-bottom: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
    z-index: 2;
    width: 100%;
    background-color: transparent;
  }

  .navBar {
    margin-right: 10px;
    background-color: blue;
    align-self: flex-end;
    width: 8rem;
    height: 3.4rem;
    overflow: hidden;
  }

  .content{
    display: none;
  }

  .menu{
    /* display: flex; */
    /* background-color: red; */
    color:#444;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    max-width: 100px;
    padding: 5px;
    margin-bottom: 10rem;
    /* text-align: center; */
  }

  .menu_wrapper{
    margin-bottom: 10rem;
    /* background-color: red; */
  }
}